@charset "utf-8";
/* div.sdmenu */
div.sdmenu{float:left;width:194px;font-size:12px;color:#ad8634;text-align:center;height: 80vh;overflow-y: auto;}
div.sdmenu div{background:url(../images/statement/xialashuimage/del_tit.jpg) no-repeat;overflow:hidden;text-align: left;}
div.sdmenu div.collapsed{height:32px;}
div.sdmenu div span{display:block;line-height:32px;width:194px;font-weight:bold;color:#333;cursor:pointer;margin-left:10px;text-align: left;text-indent: 36px;}
div.sdmenu div span a{padding:0;background:none;border:0;font-size:14px;line-height:32px;display:block;}
div.sdmenu div.collapsed{background-image:url(../images/statement/xialashuimage/plus_bg.jpg);background-repeat:no-repeat;width:194px;color:#000}
div.sdmenu div.collapsed span{color:#333;line-height:32px;text-align: left;text-indent: 36px;}
div.sdmenu div.collapsed span a.current{color:#ad8634;}
div.sdmenu div a{padding-left:47px;display:block;border-bottom:none;color:#666;font-size:13px;background:#fff url(../images/statement/xialashuimage/menu_sub_icon.gif) no-repeat 22px 7px;line-height:28px;text-decoration:none}
div.sdmenu div a.current{background:url(../images/statement/xialashuimage/linkarrow.gif) no-repeat  27px 7px #f8ec94; color:#ad8634}
div.sdmenu div span a.current{background:none;color:#fff}
div.sdmenu div a:hover{background:url(../images/statement/xialashuimage/menu_sub_icon.gif) no-repeat  27px 7px #fff;text-decoration:none;}
div.sdmenu div span a:hover{background:none;}