@charset 'UTF-8';
*{
	padding: 0;
	margin: 0;
}
tr.selected  { background:#f6cd8f!important;}
.fl{float: left;}
.fr{float: right;}
.inb{display: inline-block;}
a{text-decoration: none;}
table{
	border-collapse: collapse;
	border:1px solid #d0d0d0;
	width: 96%;
	color: #404040;
	line-height: 28px;
	margin: 0 auto;	
	text-align: center;
	font-size: 14px;
}
tr{
	border:1px dashed #d0d0d0;
	width: 96%;
}
body{
	background-color: #f8f8f8;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
html,body,.parent{
	height: 100%;
	overflow: hidden;
}
.parent{
	position: relative;
}
@media only screen 
and (min-width: 768px){
	.parent .header .head-left{
		width: 66%;
	}	
}
@media only screen 
and (max-width: 768px){
	.parent .header .head-left{
		width: 100%;
	}
}

/*右部内容*/
.main{
	border-top: 1px solid #b5a38f;
	border-left: 1px solid #b5a38f;
	position: absolute;
	left: 0px;
	right: 0;
	top: 0px;
	bottom: 1px;
	background-color: #fafafa;
	overflow: auto;
	padding-bottom: 30px;
}
.create{
	background-color: #f0e3bf;
	height: 28px;
	line-height: 28px;
	text-indent: 10px;
	font-size: 14px;
	border-bottom: 1px solid #d4a375;
	position: fixed;
	left: 301px;
	right: 0;
	z-index: 999;
}
/*结果*/
.Query-Result{
	margin-top: 40px;
}
.Query-Result>thead{
	background-color: #eaecf4;
}
.Query-Result>thead>tr>th{
	text-align: center;
}
.Query-Result>thead>tr>th:nth-child(1){
	width: 220px;
}
.Query-Result>thead>tr>th:nth-child(3){
	width: 200px;
}
.Query-Result>tbody>tr{
	background-color: #fff;
}
.Query-Result>tbody>tr>td:nth-child(3){
	color: #337ab7;
	cursor: pointer;
}
.Query-Result>tbody>tr:nth-child(2n){
	background-color: #f5f6fd;
}
.Query-Result>tbody>tr>td>a{
	color: #337ab7;
	margin-left: 4px;
}
.Query-Result>tbody>tr:hover{
	background: #fff7d6;
}
