/* 基本样式 */
@charset 'UTF-8';
*{
	padding: 0;
	margin: 0;
}
html,body,div,h1,h2,h3,h4,h5,h6,ul,dl,ol,p,form,table{
	margin:0;
	padding:0;
	font-size: 12px;
	font-family: arial;
}
a{
	text-decoration: none;
}
ul,dl,dt{list-style: none;}
img{border:none;}
//此处每次视情况修改
body{min-width: 1050px;}
.fl{float: left;}
.fr{float: right;}
.auto{margin-left: auto;margin-right: auto!important;}
.ct{text-align: center;}
.hd{overflow: hidden;zoom:1;}
.clear{zoom:1;}
.clear:after{content: '.';
			display: block;
			height: 0;
			width: 0;
			clear: both;
			visibility: hidden;
		}
.ib{display: inline-block;
	*display: inline;
	zoom:1;
	vertical-align: top;
}
table{
	border-collapse: collapse;
    border: 0;
}
.inb{display: inline-block;}
.position_re{position: relative;}
.position_ab{position: absolute;}
li{list-style-type: none;}
/* 基本样式结束 */