*{
	padding: 0;
	margin: 0;
}
.inb{display: inline-block;}
.position_re{position: relative;}
.position_ab{position: absolute;}
li{list-style-type: none;}
body{
	background-color: #f8f8f8;
}
html,body,.parent{
		height: 100%;
		overflow: hidden;
	}
.parent{
	position: relative;
	}
/* 基本样式 */
@charset 'UTF-8';
html,body,div,h1,h2,h4,h5,h6,ul,dl,ol,p,form,table,span,label,select,td,th,table{
	margin:0;
	padding:0;
	font-size: 12px;
	font-family: arial;
}
a{
	text-decoration: none;
	text-align: center;
}
ul,dl,dt{list-style: none;}
img{border:none;}
.fl{float: left;}
.fr{float: right;}
/*视情况修改*/
/*澶撮儴*/
.header{
	width: 100%;
	height: 60px;
	background-color: #f3f3f3;	
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
@media only screen 
and (min-width: 768px){
	.parent .header .head-left{
		width: 66%;
	}	
}
@media only screen 
and (max-width: 768px){
	.parent .header .head-left{
		width: 100%;
	}
}
.header .head-left{	
	height: 60px;
}
.header .head-left .head-left-one{	
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;	
	color: #337ab7;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.header .head-left .head-left-one>span{
	display: inline-block;
	padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;	
	color: #f0ad4e;
    background-color: #EAE9E9;
	border-radius: 10px;
}
.header .head-right{
	font-size: 12px;
	line-height: 1.4;
	color: #404040;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 20px;
	margin-right: 15px;
	padding-right: 20px;	
}
.header .head-right>a{
	text-decoration: none;
	color: #f0ad4e;
}
.header .head-right>a:hover {
    text-decoration: underline;
}

/*宸﹂儴瀵艰埅*/
.side{
	border-top: 1px solid #b5a38f;
	width: 300px;
	float: left;
	background-color: #f8f8f8;
	position: absolute;
	top: 60px;
	left: 0;
	bottom: 1px;
	overflow: auto;
}
.side>ul{
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
.side>ul>li{
	display: block;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.side>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #337ab7;
	line-height: 37px;
	text-indent: 15px;
}
.side>ul>li:last-child{
	/*margin-bottom: 80px;*/
	line-height: 37px;	
	text-indent: 15px;
	color: #337ab7;
}
.side>ul>li>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #337ab7;
	line-height: 37px;
	text-indent: 40px;
}
#training>ul>li>a:before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;	
	margin-right: 4px;
}
/*鍒涘缓鍥炬枃*/
.Creategraphic:before{
	background: url(../images/chuangjiantuwen_03.png) no-repeat center center;
	background-size: 12px 12px;
	opacity: 0.6;
}
/*鏌ヨ鍥炬枃鍒楄〃*/
.Queryby:before{
	background: url(../images/chaxuntuwen.png) no-repeat center center;
	background-size: 12px 12px;
	opacity: 0.6;
}
/*娣诲姞浜у搧鐭ヨ瘑*/
.Addproductknowledge:before{
	background: url(../images/tianjiachanpinzhisi.png) no-repeat center center;
	background-size: 12px 12px;
	opacity: 0.6;
}
/*鑰冮绠＄悊*/
.Examiquestmana:before{
	background: url(../images/kaotiguanli.png) no-repeat center center;
	background-size: 12px 12px;
	opacity: 0.6;
}
/*娑堟伅鏍囩*/
.Themessagetag:before{
	background: url(../images/xiaoxibaioqian.png) no-repeat center center;
	background-size: 12px 12px;
	opacity: 0.6;
}
/*澶氭秷鎭彂閫�*/
.Messagesent:before{
	background: url(../images/duoxiaoxifasong.png) no-repeat center center;
	background-size: 12px 12px;
	opacity: 0.6;
}
/*姹囨�荤粺璁�*/
.Thestatisum:before{
	background: url(../images/tongjihuizong.png) no-repeat center center;
	background-size: 12px 12px;
	opacity: 0.6;
}
/*浜嬮」绠＄悊*/
.Itemmanagement:before{
	background: url(../images/shixiangguanli.png) no-repeat center center;
	background-size: 12px 12px;
	opacity: 0.6;
}
#training>ul>li>a:hover:before{
	opacity: 1;
}

/*鍙抽儴鍐呭*/
.main{
	border-top: 1px solid #b5a38f;
	border-left: 1px solid #b5a38f;
	background-color: #fafafa;
	overflow: hidden;
	/* position: absolute;
	left: 0px;
	right: 0;
	top: 0px;
	bottom: 0px;
	padding-bottom: 24px; */
}
.create{
	background-color: #f0e3bf;
	height: 28px;
	line-height: 28px;
	text-indent: 10px;
	font-size: 14px;
	border-bottom: 1px solid #d4a375;
	/* position: fixed;
    left: 301px;
    right: 0;
    z-index: 999; */
}
.main>div{
	margin-top: 10px;
	line-height: 20px;
	font-size: 14px;
}
.search{
	height: 22px;
	line-height: 22px;
}
.search label{
	margin-left: 20px;
}
.search select{
	width: 150px;
}
#prizes{
    width: -webkit-calc(100vw - 320px);
    width: -moz-calc(100vw - 320px);
    width: calc(100vw - 320px);
    margin-left: 10px;
}
#prizes>div>div select{
	width: 150px;
	margin-bottom: 10px;
}
#prizes>div>div label{
	margin-left: 2px;
}
#prizes ul a{
	padding: 0em 1em;
}
#prizes table{
	text-align: center;
}
#prizes thead{
	/*background-color: #ffc700;*/
}
#prizes th,#prizes td{
	white-space: nowrap;
	/*padding: 0 10px;*/
}
td.sub{
	color: #ff5c00;
}
.totalback{
	background-color: #ff5c00;
}
.backgray{
	background-color: #c0c0c0;
}
.Left_Head,.Right_Head,.Right_Body{
	font-size: 12px;
}
/*宸﹂儴鍥哄畾鍒�*/
.Left_Head{
	width: 260px;
	max-height: -webkit-calc(100vh - 274px);
	max-height: -moz-calc(100vh - 274px);
	max-height: calc(100vh - 274px);
	background-color: #e0e0e0;
	overflow:hidden;
	/* border-bottom: 17px solid #ddd; */
}
.Left_Head table{
	width: 100%;
	height: 100%;
}
/*鍥哄畾鍒梩r楂樺害*/
.Left_Head>table>thead>tr{
	height: 22px;
}
/*缁撴潫*/
.Left_Head th,.Left_Head td{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.Left_Head td{
	border-top: 0;
}
.Left_Head table tbody{
	display:block;
	max-height: -webkit-calc(100vh - 337px);
	max-height: -moz-calc(100vh - 337px);
	max-height: calc(100vh - 337px);
	overflow: hidden;
}
.Left_Head table thead,.Left_Head tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
	}
.Left_Head th,.Left_Head td{
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	}
/*test_Head瀹氫箟瀹藉害鍙婃牱寮�*/
.Left_Head thead{
	table-layout: auto!important;
	/*background-color: #b7dee8;*/
}
.Left_Head thead th{
	white-space: inherit!important;
}
/*.Left_Head thead>tr:nth-child(1){
	background-color: rgb(0,204,255)!important;
}*/
.Left_Head tbody>tr:last-child,.Right_Body tbody>tr:last-child{
	background-color: #ffff99;
}
/*绗竴鍒�*/
.Left_Head thead>tr>th:nth-child(1){
	width: 41px;
}
.Left_Head tbody tr>td:nth-child(1){
	width: 39px;
}
/*绗簩鍒�*/
.Left_Head thead>tr>th:nth-child(2){
	width: 122px;
}
.Left_Head tbody tr>td:nth-child(2){
	width: 120px;
}
/*绗笁鍒�*/
.Left_Head thead>tr>th:nth-child(3){
	width: 70px;
}
.Left_Head tbody tr>td:nth-child(3){
	width: 70px;
}



/*鍙抽儴鍥哄畾琛�*/
.Right_Head{
	/* width: calc(100vw - 860px); */
	overflow: hidden; 
}
.Right_Head>table>thead>tr{
	height: 22px;
}
/*鍐呭鍖哄煙*/
.Right_Body{
	width: -webkit-calc(100vw - 827px);
	max-height: -webkit-calc(100vh - 320px);
	width: -moz-calc(100vw - 827px);
	max-height: -moz-calc(100vh - 320px);
	width: calc(100vw - 827px);
	max-height: calc(100vh - 320px);
	padding: 0px; 
	margin: 0px;
	overflow-x: scroll; 
	overflow-y: auto;
}
.Right_Body td,.Right_Body th,.Right_Head td,.Right_Head th{
	width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
table{
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
td,th{
	border: 1px solid #aaa;
	text-align: center;
}
.Right_Body tbody>tr:first-child>td{
	border-top: 0!important;
}
.Right_Body td{
	text-align: right;
}
#daterange-btn,#daterange-btn2,#daterange-btn3,
#daterange-btn4,#daterange-btn5,#daterange-btn6,
#daterange-btnM1,#daterange-btnM2,#daterange-btnM3,#daterange-btnM4,
#daterange-btnW1,#daterange-btnW2,#daterange-btnW3,#daterange-btnW4{
	min-width: 200px;
	/*margin-bottom: 10px;*/
	padding: 0 12px;
}
select{
	border-radius: 2px;
	height: 22px;
}


/*鑹插僵绠＄悊*//*杈炬垚90%-100%涓嶉渶棰滆壊绠＄悊*/
.TVblue{background-color: rgb(0,176,240);}
.lightBlue{background-color: rgb(0,204,205);}
.bluegrey{background-color: rgb(183,222,232);}
.yellow{background-color: rgb(255,255,0);}/*杈炬垚0.8-0.9*/
.ivory{background-color: rgb(255,255,153);}/*鏈�鍚庝竴琛岀墮榛勮壊*/
.green{background-color: rgb(0,255,0);}/*杈炬垚澶т簬绛変簬100%*銆佹澧為暱*/
/*杈炬垚灏忎簬0.8鎴栬礋澧為暱/*/
.red{background-color: rgb(255,0,0);color: #fff;}
.lightcyan{background-color: rgb(102,255,255);}
/*瀹為獙
/*#prizes>ul>li{
	float: none;
	overflow: hidden;
	text-align: center;
}
#prizes>ul>li>a{
	/*-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);*/
	/*padding: 0 6px;
	text-align: center;
	display: block;
	width: 100%;*/
}
#tabs-1>div>p,#tabs-2>div>p,#tabs-3>div>p{
	margin: 0;
}
#tabs-1>div:nth-child(2)>p,#tabs-2>div:nth-child(2)>p,#tabs-3>div:nth-child(2)>p{
	margin-top: 20px;
}
#tabs-1>ul,#tabs-2>ul,#tabs-3>ul{
	padding-top: 4px;
	background-color: #e9e9e9;
	border: 1px solid #dddddd;
	border-radius: 3px;
}
#tabs-1>ul>li,#tabs-2>ul>li,#tabs-3>ul>li{
	float: none;
	overflow: hidden;
	text-align: center;
}
#tabs-1>ul>li>a,#tabs-2>ul>li>a,#tabs-3>ul>li>a{
	padding: 0 6px;
	text-align: center;
	display: block;
	width: 100%;
}
#tabs_1_1>ul>li,
#tabs_2_1>ul>li,#tabs_2_2>ul>li,#tabs_2_3>ul>li,
#tabs_3_1>ul>li,#tabs_3_2>ul>li,#tabs_3_3>ul>li{
	float: left;
}

#tabs_2_1_1,#tabs_2_2_1,#tabs_2_3_1,
#tabs_3_1_1,#tabs_3_2_1,#tabs_3_3_1{
	padding-bottom: 0;
}
#tabs_2_1_1 td,#tabs_2_1_1 th,
#tabs_3_1_1 td,#tabs_3_1_1 th{
	padding: 0 6px;
}
/*tabs1*/
#tabs_1_2_1 th,#tabs_1_2_1 td,
#tabs_1_3_1 th,#tabs_1_3_1 td{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#tabs_1_2_1 td,#tabs_1_3_1 td{
	border-top: 0;
}
#tabs_1_2_1 table tbody,#tabs_1_3_1 table tbody{
	display:block;
	max-height: -webkit-calc(100vh - 337px);
	max-height: -moz-calc(100vh - 337px);
	max-height: calc(100vh - 337px);
	overflow-y: scroll;
}
#tabs_1_2_1 table thead,#tabs_1_2_1 tbody tr,
#tabs_1_3_1 table thead,#tabs_1_3_1 tbody tr{
	display:table;
	width:100%;
	table-layout:fixed;
	}
#tabs_1_2_1 table thead,#tabs_1_3_1 table thead
{
	width: -webkit-calc(100% - 17px);
	width: -moz-calc(100% - 17px);
	width: calc(100% - 17px);
}
#tabs_1_2_1 th,#tabs_1_2_1 td,
#tabs_1_3_1 th,#tabs_1_3_1 td
{
	width: 100px;
	text-align: center;
	white-space: nowrap;/* inherit */
	text-overflow: ellipsis;
	overflow: hidden;
	}
#tabs_1_2_1 thead>tr>th:nth-child(2),#tabs_1_2_1 tbody>tr>td:nth-child(2),
#tabs_1_3_1 thead>tr>th:nth-child(2),#tabs_1_3_1 tbody>tr>td:nth-child(2){
	width: 120px;
}

#tabs_1_1_1 td,#tabs_1_1_1 th,
#tabs_1_2_5 td,#tabs_1_2_5 th{
	white-space: inherit;
	text-overflow: ellipsis;
}
#tabs_1_4_3 td,#tabs_1_4_3 th{
	padding: 0 6px;
	white-space: nowrap;
}
#test_Head4{
	width: 150px;
}
#test_Right4,#test_Left4{
	width: -webkit-calc(100vw - 714px);
	width: -moz-calc(100vw - 714px);
	width: calc(100vw - 714px);
}
/*tabs2*/
#tabs_2_1_1 thead>tr:last-child,#tabs_2_1_1 tbody>tr:last-child{
	background-color: rgb(255,255,153);
}
#tabs_2_2_1 tbody>tr:last-child{
	background-color: rgb(255,255,153);
}
#tabs_2_3_1 tbody>tr:last-child{
	background-color: rgb(255,255,153);
}
#tabs_2_3_1>div{
	max-height: -webkit-calc(100vh - 260px);
	max-height: -moz-calc(100vh - 260px);
	max-height: calc(100vh - 260px);
}
#test_Right5 th{
	white-space: inherit;
}
/*tabs3*/
#tabs_3_1_1 thead>tr:last-child,#tabs_3_1_1 tbody>tr:last-child{
	background-color: rgb(255,255,153);
}
#tabs_3_2_1 tbody>tr:last-child{
	background-color: rgb(255,255,153);
}
#tabs_3_3_1 tbody>tr:last-child{
	background-color: rgb(255,255,153);
}
#tabs_3_3_1>div{
	max-height: -webkit-calc(100vh - 260px);
	max-height: -moz-calc(100vh - 260px);
	max-height: calc(100vh - 260px);
}

/*XCP鍗曞搧鐩稿叧*/
#tabs_3_4_3 th,#tabs_3_4_3 td,
#tabs_1_5_3 th,#tabs_1_5_3 td{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#tabs_3_4_3 td,#tabs_1_5_3 td{
	border-top: 0;
}
#tabs_3_4_3 table tbody,#tabs_1_5_3 table tbody{
	display:block;
	max-height: -webkit-calc(100vh - 337px);
	max-height: -moz-calc(100vh - 337px);
	max-height: calc(100vh - 337px);
	overflow-y: scroll;
}

#tabs_3_4_3 table thead,#tabs_3_4_3 tbody tr,
#tabs_1_5_3 table thead,#tabs_1_5_3 tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
	}
/*#tabs_3_4_3 table thead,#tabs_1_5_3 table thead{
	width: calc(100% - 18px);
}*/

#tabs_3_4_3 th,#tabs_3_4_3 td,
#tabs_1_5_3 th,#tabs_1_5_3 td{
	width: 100px;
	text-align: center;
	white-space: inherit;
	text-overflow: ellipsis;
	overflow: hidden;
	}
/*XCP鍗曞搧鐩稿叧缁撴潫*/


#tabs-1,#tabs-2,#tabs-3{
	height: -webkit-calc(100vh - 140px);
	height: -moz-calc(100vh - 140px);
	height: calc(100vh - 140px);
	/*overflow: auto;*/
	
}
.float_left{width: 300px;}
.float_left th{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	}
.float_left thead tr>th:nth-child(1){
	width: 60px;
	}
.float_left thead tr>th:nth-child(2){
	width: 160px;
	}
.float_left thead tr>th:nth-child(3){
	width: 80px;
	}
.MRH,.WRH{
	width: -webkit-calc(100% - 306px);
	width: -moz-calc(100% - 306px);
	width: calc(100% - 306px);
	}
#monthRegLeft tbody td{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#weekRegLeft tbody tr>td:nth-child(3){
	white-space:nowrap!important;
 	text-overflow:ellipsis!important;
	 overflow:hidden!important;
}

#tabs_1_4_5 td,#tabs_1_4_5 th{
    white-space: normal!important;
    text-overflow: ellipsis!important;
    overflow: hidden!important;
}
#tabs_1_4_5 thead>tr>th:nth-child(3){
    width: 80px;
}
p.pTitl{
	text-align: center;
    font-size: 17px;
    line-height: 24px;
    margin-bottom:0px;
    margin-top:6px;
}
.form-control{
	padding: 0px 2px!important;
	height: 24px!important;
}
select{
	margin-bottom: 0!important;
}

#tabs-1>ul>li,#tabs-2>ul>li,#tabs-3>ul>li{
	max-width: 80px!important;
	white-space: inherit;
}
#side-menu a{text-align:left;}
.daterangepicker td, .daterangepicker th{
	width:auto!important;
}
#tabs-1>div,#tabs-2>div,#tabs-3>div{
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);
	width: calc(100% - 100px);
	padding:0;
}
.clear{zoom:1;}
.clear:after{content: '.';
			display: block;
			height: 0;
			width: 0;
			clear: both;
			visibility: hidden;
		}